:root {
    --grey: #373737;
    --pink: rgb(165, 61, 160);
    --violet: #4f247c;
}

* {
    box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Catamaran", sans-serif;
    font-size: 18px;
    color: var(--grey);
    line-height: 1.5;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1000px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
@media screen and (max-width: 1140px) {
    .container {
      max-width: auto;
      width: 100%;
      padding: 0 20px;
    }
  }

/* TYPOGRAPHY */
h1, h2, h3 {
    margin: 0;
}

h2, h3 {
    font-weight: 100;
    margin: 0 0 20px;
    line-height: 1;
}

h2 {
    font-size: 70px;
}

h3 {
    font-size: 30px;
}

p {
    margin: 0 0 20px;
}

/* HEADER AND MENU */
.header {
    padding: 30px 20px 0;
    display: flex;
    justify-content: space-between;
}

nav {
    text-align: right;
}

.menu {
    list-style-type: none;
}

.menu li {
    display: inline-block;
}

.menu a {
    padding: 10px 15px;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    border: 3px dotted var(--violet);
    background-color: rgb(246, 196, 255);
    transition: border-bottom 0.5s ease-in;
}
.menu a:hover {
    background-color:rgb(115, 9, 87) ;
}

.mobile-menu-icon {
    display: none;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .menu li {
    display: block;
  }

  .menu a {
    display: inline-block;
  }

  .mobile-menu-icon {
    display: inline-block;
  }

  .mobile-menu-icon:hover {
    cursor: pointer;
  }

  /* ikonka "x" ukryta na start */
  .icon-close {
    display: none;
  }

  /* zmiana ikony menu na "x" po kliknięciu */
  .mobile-menu-icon.opened .icon-menu {
    display: none;
  }

  .mobile-menu-icon.opened .icon-close {
    display: block;
  }

  .menu.opened {
    display: block;
    position: absolute;
    top: 60px;
    right: 20px;
    text-align: right;
  }
}

/* HERO SECTION */
.hero-section {
    color: #000000;
    background: url("https://img.freepik.com/premium-photo/panda-s-haven-majestic-encounter-bamboo-forest_13364-7857.jpg");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
}

.hero-logo svg path {
    color: var(--pink);
    stroke: var(--pink);
}

.hero-title {
    font-weight: 900;
    font-size: 120px;
    line-height: 1;
    margin: 100px 0 40px;
}

.hero-lead {
    font-size: 22px;
    max-width: 45%;
    margin-bottom: 50px;
}
  
.hero-button {
    color: #000000;
    background-color: bisque;
    border: 3px solid var(--pink);
    text-decoration: none;
    padding: 8px 30px;
    font-size: 20px;
    text-transform: uppercase;
}
.hero-button:hover {
    background-color: var(--violet);
}
@media screen and (max-width: 768px) {
    .hero-title {
      font-size: 90px;
    }
  
    .hero-lead {
      max-width: 100%;
      font-size: 20px;
    }
  }

/* COLUMNS */
.columns-container {
    display: flex;
    justify-content: space-between;
}
  
.columns-2-container .column {
    width: 45%;
}
  
.columns-3-container {
    flex-wrap: wrap;
    row-gap: 25px;
}
  
.columns-3-container .column {
    width: 32%;
}
  
.columns-4-container .column {
    text-align: center;
    flex-basis: 25%;
}
@media screen and (max-width: 992px) {
    .columns-3-container {
      flex-direction: row;
    }
  
    .columns-3-container .column {
      width: 49%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .columns-container {
      flex-direction: column;
    }
  
    .columns-2-container .column,
    .columns-3-container .column {
      width: 100%;
    }
  
    .columns-4-container {
      row-gap: 20px;
    }
  }

/* SECTION */
.section {
    padding: 100px 0;
}
  
.section-violet {
    background-color: var(--violet);
    color: #ffffff;
}
  
.section-pink {
    background-color: var(--pink);
    color: #ffffff;
}
  
.section-title {
    color: var(--pink);
}

/* ABOUT SECTION */
.about-section {
    padding: 120px 0;
}
  
.about-image {
    text-align: center;
    position: relative;
    max-height: 380px;
}
  
.about-image img {
    max-height: 380px;
}
.about-image:before {
    content: "";
    border: 50px solid var(--violet);
    position: absolute;
    top: -35px;
    left: 20px;
    width: 380px;
    height: 380px;
    z-index: -2;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
}
  
.about-image:after {
    content: "";
    background-color: blueviolet;
    position: absolute;
    top: 35px;
    right: -20px;
    width: 380px;
    height: 380px;
    z-index: -1;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
}
@media screen and (max-width: 768px) {
    .about-text {
      margin-top: 60px;
    }
  }
  
  @media screen and (max-width: 450px) {
    .about-text {
      margin-top: 100px;
    }
  }


.about-text p.first-letter::first-letter{
    color:var(--pink)
}

/* INTEREST SECTION */
.interests-section svg {
    border: 2px solid var(--pink);
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 50%;
}
  
.interest-name {
    margin: 20px 0;
}
  
.interest-text {
    padding: 0 10px;
    font-size: 14px;
}
/* PHOTOS SECTION */

.photos-title {
    text-align: center;
    color: var(--violet);
}

.photos-section figure {
    margin: 0;
}

.photos-lead {
    text-align: center;
    font-family: "Ephesis";
    font-size: 30px;
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;

}
  
.photos-section img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}
  
.photos-section figcaption {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .photos-lead {
      max-width: 100%;
    }
  
    .photos-section img {
      height: 350px;
    }
  }

/*QUOTE SECTION*/

.quote-section {
    padding: 80px 0;
    overflow: hidden;
    position: relative;
  }
  
  .quote-section::after {
    content: "";
    background-color: var(--violet);
    position: absolute;
    right: -90px;
    bottom: -75px;
    width: 350px;
    height: 350px;
    z-index: 1;
    border-radius: 50%;
  }
  
  .quote-text {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    z-index: 2;
    position: relative;
  }
  
  .quote-author {
    text-align: right;
    font-size: 14px;
    text-transform: uppercase;
    z-index: 2;
    position: relative;
  }
  @media screen and (max-width: 768px) {
    .quote-text {
      font-size: 30px;
    }
  }

/*CONTACT SECTION*/
.contact-title {
    text-align: center;
    margin-bottom: 40px;
}
  
.contact-form {
    width: 50%;
    margin: 0 auto;
}

.contact-form label,
.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  border: 3px solid var(--violet);
  border-radius: 0;
  padding: 8px 15px;
  margin-bottom: 15px;
}

.contact-form label {
    padding-bottom: 5px;
}

.submit-button {
    color: #ffffff;
    background-color: var(--violet);
    border: 3px solid var(--violet);
    text-decoration: none;
    padding: 10px 40px;
    margin: 30px auto 0;
    display: block;
    font-size: 20px;
    text-transform: uppercase;
  }
  @media screen and (max-width: 768px) {
    .contact-form {
      width: 100%;
    }
  }
  
/*FOOTER*/
.footer {
    padding: 40px 0;
}
  
.social,
.copyright {
    width: 49%;
    display: inline-block;
}
  
.social {
    text-align: right;
}
  
.social a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    padding-left: 10px;
}
  
.copyright {
    font-size: 14px;
}
@media screen and (max-width: 768px) {
    .social,
    .copyright {
      width: 100%;
      display: block;
      text-align: center;
    }
  
    .social {
      margin-top: 20px;
    }
  }